<!DOCTYPE html>
<html>
    <head>
        <title>Protectoras</title>
    </head>
    
    <body>
        <header>
            <h1>Animales ayudados</h1>
        </header>
        
        {%for Animal in Animal_mostrar%}
        <article>
            <p>Nombre: {{Animal.nombre}}</p>
            <p>Tipo: {{Animal.tipo}}</p>
            <p>Cuidador: {{Animal.cuidador | linebreaksbr}}</p>
        </article>  
        {% endfor %}

        <header>
            <h1>Colaboradores</h1>
        </header>
        
        {%for Colaborador in Colaborador_mostrar%}
        <article>
            <p>Nombre: {{Colaborador.nombre}}</p>
            <p>Cargo: {{Colaborador.cargo}}</p>
            <time>Entrada: {{Colaborador_fecha_entrada_protectora | linebreaksbr}}</time>
        </article>  
        {% endfor %}

        <header>
            <h1>Los datos de la protectora</h1>
        </header>
        
        {%for Protectora in Protectora_mostrar%}
        <article>
            <p>Nombre: {{Protectora.nombre}}</p>
            <p>Tipo: {{Protectora.descripcion}}</p>
            <time>Fecha creacion {{Protectora.fecha_creacion | linebreaksbr}}</time>
        </article>  
        {% endfor %}
      
    </body>
</html>